In [40]:
import pandas as pd
import numpy as np

In [95]:
d = {'deposit_list':[], 'tribune_list':[], 'rate_list':[]}

# user will input salary, pct_contrib, years via a form
# you can change the numbers in this notebook to see what the result will be for testing purposes

salary = 30000 
pct_contrib = 4
years = 30
deposit = 0 # this is calculated on our end
tribune = 0 # this is calculated on our end
rate = 0.065  #the rate of return is fixed for now, it would be nice for the user to be able to adjust this later

if pct_contrib > 0 and pct_contrib <= 2:
    deposit = salary * (pct_contrib / 100)
    tribune = deposit

elif pct_contrib > 2 and pct_contrib <=6:
    tribune = (salary * ((pct_contrib - 2) / 100) * 0.5) + (salary * 0.02)
    deposit = salary * (pct_contrib / 100)

elif pct_contrib > 6:
    tribune = ((salary * 0.04) * 0.5) + (salary * 0.02)
    deposit = salary * (pct_contrib / 100)    
    
elif pct_contrib == 0:
    deposit = 0
    tribune = 0

else:
    print('no')

In [96]:
deposit

1200.0

In [97]:
tribune

900.0

In [98]:
deposit_list = []
tribune_list = []
rate_list = []


for i in range(0, years):
    deposit_list.append(deposit)
    tribune_list.append(tribune)
    rate_list.append(rate)
    
d['deposit_list'] = deposit_list
d['tribune_list'] = tribune_list
d['rate_list'] = rate_list

In [99]:
df = pd.DataFrame(data=d)

In [100]:
df.index = np.arange(1, len(df)+1)

In [102]:
# https://stackoverflow.com/questions/41859311/cumsum-as-a-new-column-in-an-existing-pandas-data

for i in range(0, years):
    
    df['with_Trib_match'] = ((df['deposit_list'] + df['tribune_list']) * df['rate_list'].shift().add(1).cumprod().fillna(1)).cumsum()
    df['without_Trib_match'] = (df['deposit_list'] * df['rate_list'].shift().add(1).cumprod().fillna(1)).cumsum()

In [106]:
#round numbers to two decimal places except for the rate of return
df.round({'deposit_list': 0, 'tribune_list': 0, 'rate_list': 3, 'with_Trib_match': 2, 'without_Trib_match': 2})

    deposit_list  tribune_list  rate_list  with_Trib_match  without_Trib_match
1         1200.0         900.0      0.065          2100.00             1200.00
2         1200.0         900.0      0.065          4336.50             2478.00
3         1200.0         900.0      0.065          6718.37             3839.07
4         1200.0         900.0      0.065          9255.07             5288.61
5         1200.0         900.0      0.065         11956.65             6832.37
6         1200.0         900.0      0.065         14833.83             8476.47
7         1200.0         900.0      0.065         17898.03            10227.44
8         1200.0         900.0      0.065         21161.40            12092.23
9         1200.0         900.0      0.065         24636.89            14078.22
10        1200.0         900.0      0.065         28338.29            16193.31
11        1200.0         900.0      0.065         32280.28            18445.87
12        1200.0         900.0      0.065         36478.49            20844.85
13        1200.0         900.0      0.065         40949.60            23399.77
14        1200.0         900.0      0.065         45711.32            26120.75
15        1200.0         900.0      0.065         50782.56            29018.60
16        1200.0         900.0      0.065         56183.42            32104.81
17        1200.0         900.0      0.065         61935.34            35391.63
18        1200.0         900.0      0.065         68061.14            38892.08
19        1200.0         900.0      0.065         74585.12            42620.07
20        1200.0         900.0      0.065         81533.15            46590.37
21        1200.0         900.0      0.065         88932.80            50818.74
22        1200.0         900.0      0.065         96813.44            55321.96
23        1200.0         900.0      0.065        105206.31            60117.89
24        1200.0         900.0      0.065        114144.72            65225.55
25        1200.0         900.0      0.065        123664.13            70665.21
26        1200.0         900.0      0.065        133802.29            76458.45
27        1200.0         900.0      0.065        144599.44            82628.25
28        1200.0         900.0      0.065        156098.41            89199.09
29        1200.0         900.0      0.065        168344.80            96197.03
30        1200.0         900.0      0.065        181387.21           103649.84